#menu
{
	position: fixed;
	width: 100%;
	top: 0%;
	left: 0;
	background-color:rgb(2, 2, 27);
	padding: 1px 10px 0;
	box-sizing:content-box;
	z-index: 1;
	display: flex;
	justify-content:center;
}

#menu li a
{
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	font-family: 'Lato', sans-serif;
	padding: 2px 20px;
	margin-right: 10px;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-bottom-color: transparent;

}

#menu li a:hover
{
	background-color: #666;
	border-bottom-color:yellow;
}


.section
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	font-size: medium;
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
	;
}

body
{
	background-color:rgba(255, 255, 255, 0.792);
}

.sectionTitle {
	position: relative;
}
  
.sectionTitle:before,
.sectionTitle:after {
	content: "";
	position: absolute;
	top: 50%;
	height: 4px;
	background-color: gray;
}

.sectionTitle:before {
	left: 0;
	width: 42%;
}

.sectionTitle:after {
	right: 0;
	width: 42%;
}

#backgroundMorgan {
	background-image: url("Images/Morgan Freeman background.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 580px;
	height: 40vh;
	filter: grayscale(50%);
}

html
{
	scroll-behavior: smooth;
}

.quote
{
	background-color:rgb(15, 15, 76);
	padding: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 1.5;
	margin: 20px 0;
	text-align: center;
}

.quote p:first-of-type
{
	font-style: italic;
	color: white;
}
  
.quote .author
{
	font-weight: bold;
	font-size: larger;
	margin-top: 10px;
	color: white;
}


.Images
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
}
  
figure
{
	margin: 10px;
	text-align: center;
}
  
img
{
	width: 60%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
  
figcaption
{
	margin-top: 5px;
	font-size: 14px;
	font-style: italic;
}

#qrCode
{
	background-image: url("Images/qr_code.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 520px;
	height: 40vh;
	filter: grayscale(50%);
}

#scanMeGif
{
	position: absolute;
	bottom: 0;
	margin-left: -10px;
  	width: 90px;
  	height: 90px; 
}

@media only screen and (max-width: 480px) 
{
	#qrCode {
        margin-left: 0;
        height: 20vh;
    }

	#scanMeGif {
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
        margin-top: 20px;
    }
}