#menu
{
	position: fixed;
	width: 100%;
	top: 0%;
	left: 0;
	background-color:black;
	padding: 1px 10px 0;
	box-sizing:content-box;
	z-index: 1;
	display: flex;
	justify-content:center;
}

#menu li a
{
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	font-family: 'Lato', sans-serif;
	padding: 2px 20px;
	margin-right: 10px;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-bottom-color: transparent;

}

#menu li a:hover
{
	background-color: #666;
	border-bottom-color:orange;
}


.section
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	font-size: medium;
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
	;
}